.image-card {
    height: 181px;
    width: 352px;
    border-radius: 10px;
    margin-bottom: 20px;
    .badge {
        position: relative;
        background-color: #ffffff;
        color: #d42346;
        font-size: 11px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .badge-hide {
        display: none;
    }
    .image-card-style {
        object-fit: cover;
        height: 181px;
        width: 100%;
        border-radius: 10px;
    }
}
.article-info-container {
    max-width: 352px;
    .title-article {
        font-weight: bold;
        font-size: 22px;
    }
    .username {
        font-size: 16px;
    }
    .username-time {
        color: #909090;
    }
}